.participant {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.name {
  margin: 0;
}

video {
  width: 100%;
  border-radius: 5px;
}

.user-video-container {
  position: relative;
}

.user-video-container img {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10%;
}
.video-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.459);
}

.video-overlay h3 {
  margin: 0;
  padding: 2px 0 4px 0px;
}
