@font-face {
  src: url(../../fonts/HiBlack-n3a1.otf);
  font-family: hi;
}

html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.joinOuterContainer {
  background-image: url("../../images/concertcolors.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.username-error {
  font-size: 20px;
  color: white;
  margin: 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.808);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  align-items: flex-start;
}

.joinInnerContainer {
  margin-top: 100px;
  width: 50%;
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color: white;
  padding-bottom: 10px;
  font-size: 45px;
  margin-bottom: 16px;
  margin-top: 40px;
  padding: 0;
  font-family: hi;
}

.tagline-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NO-taglines {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.NO-taglines h2 {
  font-size: 30px;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}

.NO-taglines h2::before {
  content: "";
  width: 100%;
  border-bottom: solid 13px #6ab04c;
  display: block;
  position: absolute;
  top: 58%;
  right: -3%;
  z-index: -1;
}

.tagline {
  margin-top: 0;
  margin-bottom: 56px;
  font-weight: 200;
  font-size: 20px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.joinInput {
  margin: 0 10px;
  background: none;
  border: 2px solid #ffffff86;
  border-radius: 7px;
  width: 200px;
  color: #ffffff86;
  font-size: 17px;
  padding: 10px 15px;
  outline: none;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #6ab04c;
  padding: 17px;
  border-radius: 26px;
  display: inline-block;
  border: none;
  font-size: 15px;
  /* font-weight: bold; */
  transition: all 0.2s ease-in-out;
  width: 150px;
  outline: none;
}

.button:hover {
  background: #325324;
  cursor: pointer;
}

.create-club {
  color: #6ab04c;
  font-size: 20px;
  background: none;
  border: none;
  outline: none;
  transition: border 0.2s ease-in-out;
  padding: 10px 15px;
}

.create-club:hover {
  cursor: pointer;
  border: 2px solid #6ab04c;
  border-radius: 30px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .overlay {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }

  .heading {
    font-size: 30px;
  }

  .input-container {
    flex-direction: column;
  }

  .joinInput {
    margin: 15px 0;
  }

  .joinOuterContainer {
    height: 100%;
  }

  .create-club {
    margin-bottom: 50px;
  }

  .logo {
    width: 37%;
  }
}
